# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
coverage/
.dart_tool/

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/build/

# Xcode
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/DerivedData/

# macOS
**/macos/Flutter/ephemeral/
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/
**/macos/build/

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/CMakeFiles/
**/windows/build/

# Linux
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugin_registrant.h
**/linux/flutter/CMakeFiles/
**/linux/build/

# VS Code
.vscode/
.history/

# IntelliJ / Android Studio
.idea/
*.iml

# Other
*.lock
*.log
*.DS_Store
